<%- include('dash-nav'); -%>

<!-- Banners -->
<div class="wrap-profile">
  <div class="banner-dash"></div>
  <div class="profile-details">
    <a class="profile-pic-dash" href="http://localhost:3004/dashboard">
      <img src="./buttercups.jpg" alt="profile-pic" />
    </a>
    <p class="username"><strong><%= finalData[0].user %></strong></p>
    <button class="edit-profile-button">Edit Profile</button>
  </div>
</div>
<!-- End of Banners -->

<!-- Content Container -->
<div class="content-container-dash-admin">
  <div class="info">
    <h2>Table of recycle orders</h2>
  </div>

  <div class="input-box">
    <!-- once someone types something in the input, function activates -->
    <input
      type="text"
      id="myInput"
      onkeyup="myFunction()"
      placeholder="Filter by typing..."
    />
  </div>

  <!-- Recycling Table -->
  <section class="recycling-table-section">
    <!-- Table columns-->

    <table id="recycling-table">
      <tr>
        <form id = "fulfill-form" action="/fulfill" method="POST"></form>
        <!-- pick an array item, iterate through its keys to create the columns -->
        <% for (let i = 0; i < Object.keys(finalData[1]).length; i++) { %>
        <th class="headers"><%= Object.keys(finalData[1])[i] %></th>
        <% } %>
        <th class="headers">
          <input form = "fulfill-form" class="order-fulfill-button" type="submit" value="Submit" />
        </th>
      </tr>
      
        <!-- loop through each object in the finalData array (i.e., each recycle order entry) -->
        <% for (let i = 1; i < finalData.length; i++) { %>
        <tr>
          <!-- loop through each key in the object to output the value -->
          <% Object.values(finalData[i]).forEach((x) => { %>
          <td><%= x %></td>
          <% }) %>
          <td>
            <input
              type="checkbox"
              id="fulfill-checkbox<%= i %>"
              name="fulfill"
              value="<%= i %>"
            />
            <label for="fulfill-checkbox<%= i %>"> Fulfill</label>
          </td>
        </tr>
        <% } %>
      </form>
      <!-- add a container which tabulates quantity -->


    </table>
    <!-- End of Recycling Table -->
  </section>
  <!-- End of Content Container -->
</div>

<script>

  function myFunction() {
    // Declare variables
    let txtValue;
    let input = document.getElementById("myInput");
    let filter = input.value.toUpperCase();
    let table = document.getElementById("recycling-table");
    let tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>

<%- include('footer') -%>
