<%- include('dash-nav'); -%>

<!-- Banners -->
<div class="wrap-profile">
  <div class="banner-dash"></div>
  <div class="profile-details">
    <a class="profile-pic-dash" href="http://localhost:3004/dashboard">
      <img src="./buttercups.jpg" alt="profile-pic" />
    </a>
    <p class="username"><strong><%= userdata.user %></strong></p>
    <button class="edit-profile-button">Edit Profile</button>
  </div>
</div>
<!-- End of Banners -->

<div class="edit-profile-form">
  <div class="edit-form-container">
    <div class="close-edit-profile-form">+</div>
    <div>
      <h1>EDIT PROFILE</h1>
    </div>
    <form action="/edit-profile" method="POST">
      <p>Particulars</p>
      <label for="name"></label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= userdata.user %>"
        required
      />
      <label for="mobile"></label>
      <input
        type="tel"
        id="mobile"
        name="mobile"
        value="<%= userdata.userMobile %>"
        required
      />
      <label for="email"></label>
      <input
        type="email"
        id="email"
        name="email"
        value="<%= userdata.userEmail %>"
        required
      />
      <p>Address</p>
      <label for="street"></label>
      <input
        type="text"
        id="street"
        name="street"
        value="<%= userdata.userStreet %>"
        required
      />
      <label for="block"></label>
      <input
        type="number"
        id="block"
        name="block"
        value="<%= userdata.userBlock %>"
        required
      />
      <label for="unit"></label>
      <input
        type="text"
        id="unit"
        name="unit"
        value="<%= userdata.userUnit %>"
        required
      />
      <label for="postal"></label>
      <input
        type="text"
        id="postal"
        name="postal"
        value="<%= userdata.userPostal %>"
        required
      />
      <input class="submit-button" type="submit" value="Submit" />
    </form>
    <!-- end of edit-form-container -->
  </div>
  <!-- end of edit-form -->
</div>

<script>
  document
    .querySelector(".edit-profile-button")
    .addEventListener("click", function () {
      document.querySelector(".edit-profile-form").style.display = "flex";
    });

  document
    .querySelector(".close-edit-profile-form")
    .addEventListener("click", function () {
      document.querySelector(".edit-profile-form").style.display = "none";
    });
</script>

<!-- Content Container -->
<div class="content-container-dash">
  <div class="info">
    <h2>Here's a snapshot of your recycling efforts:</h2>
  </div>

  <!-- Recycling Tabulations -->
  <section class="recycling-tabulations">
    <!-- carbon-footprint segment-->
    <div class="carbon-footprint-segment">
      <img class="carbon-footprint" src="./carbon-footprint-background.jpg" />
      <!-- wrapper-carbon-segment-details -->
      <div class="wrapper-carbon-segment-details">
        <!-- carbon-footprint-details -->
        <div class="carbon-footprint-details">
          <h1 class="carbon-footprint-title">Carbon Footprint Reduced</h1>
          <p class="carbon-data">
            <strong>
              <%= userdata.totalCarbon / 1000 %> metric tons of CO2e</strong
            >
          </p>
          <!-- End of carbon-footprint-details -->
        </div>
        <!-- wrapper-carbon-segment-details -->
      </div>
      <!-- End of carbon-footprint segment-->
    </div>

    <!-- trees planted segment-->
    <div class="trees-planted-segment">
      <img class="trees-planted" src="./trees.jpg" />
      <!-- wrapper-trees-segment-details -->
      <div class="wrapper-trees-segment-details">
        <!-- trees-details -->
        <div class="trees-details">
          <h1 class="trees-title">Trees Planted</h1>
          <p class="trees-data">
            <strong>
              Equivalent to <%= userdata.totalTree / 1000 %> Trees Planted
            </strong>
          </p>
          <!-- End of trees-details -->
        </div>
        <!-- wrapper-trees-segment-details -->
      </div>
      <!-- End of trees planted segment-->
    </div>

    <!-- paper segment-->
    <div class="paper-segment">
      <img class="paper-recycled" src="./paper.jpg" />
      <!-- wrapper-paper-segment-details -->
      <div class="wrapper-paper-segment-details">
        <!-- paper-details -->
        <div class="paper-details">
          <h1 class="paper-title">Paper Recycled</h1>
          <p class="paper-data">
            <strong>
              <%= userdata.totalPaper %> kilograms of Paper Recycled
            </strong>
          </p>
          <!-- End of paper-details -->
        </div>
        <!-- wrapper-paper-segment-details -->
      </div>
      <!-- End of paper recycled segment-->
    </div>

    <!-- Textile segment-->
    <div class="textile-segment">
      <img class="textile-recycled" src="./textile.jpg" />
      <!-- wrapper-textile-segment-details -->
      <div class="wrapper-textile-segment-details">
        <!-- textile-details -->
        <div class="textile-details">
          <h1 class="textile-title">Textile Recycled</h1>
          <p class="textile-data">
            <strong>
              <%= userdata.totalTextile %> kilograms of Textile Recycled
            </strong>
          </p>
          <!-- End of textile-details -->
        </div>
        <!-- wrapper-textile-segment-details -->
      </div>
      <!-- End of textile recycled segment-->
    </div>

    <!-- Metal segment-->
    <div class="metal-segment">
      <img class="metal-recycled" src="./metal.jpg" />
      <!-- wrapper-metal-segment-details -->
      <div class="wrapper-metal-segment-details">
        <!-- metal-details -->
        <div class="metal-details">
          <h1 class="metal-title">Metal Recycled</h1>
          <p class="metal-data">
            <strong>
              <%= userdata.totalMetal %> kilograms of Metals Recycled
            </strong>
          </p>
          <!-- End of metal-details -->
        </div>
        <!-- wrapper-metal-segment-details -->
      </div>
      <!-- End of metal recycled segment-->
    </div>

    <!-- ewaste segment-->
    <div class="ewaste-segment">
      <img class="ewaste-recycled" src="./ewaste.png" />
      <!-- wrapper-ewaste-segment-details -->
      <div class="wrapper-ewaste-segment-details">
        <!-- ewaste-details -->
        <div class="ewaste-details">
          <h1 class="ewaste-title">E-waste Recycled</h1>
          <p class="ewaste-data">
            <strong>
              <%= userdata.totalEwaste %> kilograms of E-waste Recycled
            </strong>
          </p>
          <!-- End of ewaste-details -->
        </div>
        <!-- wrapper-ewaste-segment-details -->
      </div>
      <!-- End of ewaste recycled segment-->
    </div>

    <!-- End of Recycling Tabulations -->
  </section>

  <!-- End of Content Container -->
</div>

<%- include('footer'); -%>
