<%- include('dash-nav'); -%>

<!-- Banners -->
<div class="wrap-profile">
  <div class="banner-dash"></div>
  <div class="profile-details">
    <a class="profile-pic-dash" href="http://localhost:3004/dashboard">
      <img src="./buttercups.jpg" alt="profile-pic" />
    </a>
    <p class="username"><strong><%= userdata.user %></strong></p>
  </div>
</div>
<!-- End of Banners -->

<!-- Content Container -->
<div class="content-container-dash">
  <div class="info">
    <h2>Here's a snapshot of your recycling efforts:</h2>
  </div>

  <!-- Recycling Tabulations -->
  <section class="recycling-tabulations">
    <div class="carbon-footprint-segment">
    <img class="carbon-footprint" src="./carbon-footprint-background.jpg">
      <!-- icon left -->
      <div class ="wrapper-carbon-left-right">
      <div class="carbon-footprint-icon-left">
        <img
          class="carbon-icon"
          src="./carbon_footprint_icon.png"
          alt="profile-pic"
        />
        <!-- End of icon left -->
      </div>
      <!-- details-right -->
      <div class="carbon-footprint-details-right">
        <p class="carbon-data"><%= userdata.totalCarbon %></p>
        <!-- End of details-right -->
      </div>
      </div>
      <!-- End of carbo-footprint -->
    </img>
    <!-- End of carbo-footprint segment-->
    </div>

    <div class="trees-planted">
      <!-- icon left -->
      <div class="tree-icon-left">
        <img class="tree-icon" src="./tree-icon.png" alt="profile-pic" />
        <!-- End of icon left -->
      </div>
      <!-- details-right -->
      <div class="tree-details-right">
        <p class="tree-data"><%= userdata.totalTree%></p>
        <!-- End of details-right -->
      </div>
    </div>

    <div class="paper-recycled">
      <!-- icon left -->
      <div class="paper-icon-left">
        <img class="paper-icon" src="./paper-icon.png" alt="profile-pic" />
        <!-- End of icon left -->
      </div>
      <!-- details-right -->
      <div class="paper-details-right">
        <p class="paper-data"><%= userdata.totalPaper%></p>
        <!-- End of details-right -->
      </div>
    </div>

    <div class="textile-recycled">
      <!-- icon left -->
      <div class="textile-icon-left">
        <img class="textile-icon" src="./textile-icon.png" alt="profile-pic" />
        <!-- End of icon left -->
      </div>
      <!-- details-right -->
      <div class="textile-details-right">
        <p class="textile-data"><%= userdata.totalTextile%></p>
        <!-- End of details-right -->
      </div>
    </div>

    <div class="metals-recycled">
      <!-- icon left -->
      <div class="metal-icon-left">
        <img class="metal-icon" src="./metal-icon.png" alt="profile-pic" />
        <!-- End of icon left -->
      </div>
      <!-- details-right -->
      <div class="metal-details-right">
        <p class="metal-data"><%= userdata.totalMetal%></p>
        <!-- End of details-right -->
      </div>
    </div>

    <div class="ewaste-recycled">
      <!-- icon left -->
      <div class="ewaste-icon-left">
        <img class="ewaste-icon" src="./ewaste-icon.png" alt="profile-pic" />
        <!-- End of icon left -->
      </div>
      <!-- details-right -->
      <div class="ewaste-details-right">
        <p class="ewaste-data"><%= userdata.totalEwaste%></p>
        <!-- End of details-right -->
      </div>
    </div>

    <!-- End of Recycling Tabulations -->
  </section>

  <!-- End of Content Container -->
</div>

<%- include('footer'); -%>
